*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Defines what 1rem is (10px) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.hero {
  position: relative;
}

.hero__container {
  padding: 5rem 6rem 15rem 6rem;
  height: 90vh;
  overflow: hidden;

  display: grid;
  grid-template-rows: 3rem 1fr 4rem;
  align-items: center;
  justify-items: right;
  position: relative;
}

.hero__image {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  object-position: center bottom;
  position: absolute;
}

.hero__logo {
  width: 35rem;
}

.hero__content {
  font-size: 3.5rem;
  font-weight: 600;
  width: 50%;
  color: #ffffff;
  justify-self: left;
  align-self: end;
  position: relative;
}

.hero__content--line {
  height: 3px;
  width: calc(100vw - 36rem + 6rem);
  border: 2px solid #ffffff;
  position: absolute;
  bottom: 0.5em;
  left: 30rem;
}

.hero__button {
  margin-top: 6rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.3rem 3rem;

  color: #261b85;
  background-color: #ffffff;
  border-radius: 2rem;
  border: 2px solid #fff;

  cursor: pointer;
  transition: 0.3s all;
}

.hero__button:hover {
  border: 2px solid #261b85;
}

.main {
  background-image: url("img/conexões.png");
}

.about {
  margin-top: -10rem;
  padding: 20rem 6rem 15rem 6rem;
  color: #261b85;
}

.about p {
  width: 50%;
  font-size: 1.8rem;
}

.about__title {
  float: right;
  position: relative;
  padding-top: 2rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-transform: uppercase;
}

.about__title--bold {
  font-weight: 900;
  font-size: 6rem;
}

.about__title--line {
  height: 1px;
  width: 100vw;
  border: 1px solid #261b85;
  position: absolute;
  bottom: -1rem;
  right: 4.8rem;
}

.companies {
  padding-top: 12rem;
  position: relative;
}

.companies__background {
  width: 100%;
  height: 98%;
  margin-top: -10rem;
  object-fit: cover;
  object-position: center top;
  position: absolute;
}

.companies__container {
  position: relative;
  padding: 5rem 6rem 10rem 6rem;
  background-image: linear-gradient(transparent, #1f1d42);
}

.companies__title {
  font-size: 3rem;
  position: relative;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  /* overflow: hidden; */
}

.companies__title--bold {
  font-size: 6rem;
  font-weight: 900;
}

.companies__title--line {
  height: 2px;
  width: calc(100% - 25rem + 6rem);
  border: 1px solid #ffffff;
  position: absolute;
  bottom: 0.5em;
  left: 25rem;
}

.companies__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, min-content));
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.companies__item {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-rows: 12rem;
  justify-items: center;
  align-content: center;
}

.companies__item img {
  width: 15rem;
  clip-path: circle(35%);
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 40%;
  }

  .hero__container {
    padding: 10rem 0 10rem 0;
    justify-items: center;
  }

  .hero__content {
    justify-self: center;
    text-align: center;
    align-self: center;
  }

  .hero__content--line {
    display: none;
  }

  .hero__button {
    margin-top: -15rem;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__image {
    height: 110vh;
  }

  .about {
    padding-top: 25rem;
  }
}
